@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.button-fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Heading Styles For Blog Sections */
.section-renderer h1,
.section-renderer h2,
.section-renderer h3,
.section-renderer h4,
.section-renderer h5,
.section-renderer h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #222;
}

.section-renderer h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-renderer h2 {
  font-size: 2rem;
}

.section-renderer h3 {
  font-size: 1.75rem;
}

.section-renderer h4 {
  font-size: 1.5rem;
}

.section-renderer h5 {
  font-size: 1.25rem;
}

.section-renderer h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

@media (max-width: 768px) {
  .section-renderer h1 {
    font-size: 2rem;
  }
  .section-renderer h2 {
    font-size: 1.75rem;
  }
  .section-renderer h3 {
    font-size: 1.5rem;
  }
}

.section-renderer a {
  color: #0070f3;
  text-decoration: none;
  border-bottom: 1px solid #0070f3;
}

.hover-underline-animation {
  display: block;
  position: relative;
  width: fit-content;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #171717;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
